#productTileContainer {
  width: 100%;
  aspect-ratio: 3 / 4;
  background-color: #bdac9e;
}

#outerContainer:hover {
  cursor: pointer;
}

#productInformationContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5px;
  margin: 5px;
}

#productInformationContainer span {
  font-weight: 600;
}

.productInformationRight {
  text-align: right;
}

.placeholderStyle {
  aspect-ratio: 3 / 4;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  background-color: var(--placeholder-bg, rgba(189, 172, 158, 1));
}
