.banner {
  top: 0;
  background-image: url(./banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 70vh;
  transition: 0.2s;
  transition-timing-function: ease-out;

  display: flex;
  justify-content: center;
  align-items: center;
}

.lightHeaderText {
  font-family: "New Rocker";
  font-weight: 600;
  font-size: 128px;
  color: var(--background);
}

.lightRegularText {
  font-weight: 700;
  font-size: 32px;
  color: var(--background);
}

#bannerTextBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#collectionBannerText {
  margin-top: -20px;
}

#innerBannerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00000070;
  width: 100%;
  height: 100%;
  gap: 60px;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s ease-out, visibility 0.2s ease-out;
}

#buttonBox {
  margin-top: 30px;
  display: flex;
  gap: 30px;
  width: 100%;
}

.link {
  width: 100%;
}

.accentButton {
  border: none;
  border-radius: 5px;
  background-color: var(--accent);
  color: var(--text);
  padding: 10px;
  width: 50%;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
}

.accentButton:hover {
  filter: brightness(80%);
}

.banner:hover #innerBannerContainer {
  opacity: 1;
  visibility: visible;
}

.shippingBannerContainer {
  display: flex;
  justify-content: center;
  height: 70px;
  background-color: var(--primary);
  transition: 0.2s;
}

.shippingBannerContainer:hover {
  height: 90px;
}

.shippingBanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.smallText {
  font-size: 12px;
  font-weight: 500;
}

.regularText {
  font-weight: 700;
  font-size: 14px;
}
