.banner {
  background-image: url(./banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 70vh;
}

.bannerOverlay {
  height: 100%;
  width: 100%;
  transition: opacity 0.3s;
  opacity: 0;
  pointer-events: none;
}

.banner:hover .bannerOverlay {
  opacity: 1;
  pointer-events: auto;
}

.shippingBannerContainer {
  display: flex;
  justify-content: center;
  height: 70px;
  background-color: var(--primary);
  transition: 0.2s;
}

.shippingBannerContainer:hover {
  height: 80px;
  margin-bottom: -10px;
}

.shippingBanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shippingBanner p {
  align-self: center;
  font-weight: 700;
  font-size: 14px;
  margin: 0;
}

#smallerText {
  font-size: 12px;
  font-weight: 500;
}
