.headerContainer {
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  width: 100%;
  display: inline-block;
  top: 0;
}

.navbarContainer {
  background-color: var(--secondary);
  height: 70px;

  display: flex;
  align-items: center;

  padding: 0 30px;
}

#logoContainer {
  width: 305px;
}

#logo {
  width: 105px;
}

.navbarTextContainer {
  display: flex;
  gap: 30px;

  height: 70px;
  align-items: center;
}

.navbarText {
  list-style: none;
  text-decoration: none;

  color: var(--text);
  font-weight: 600;
  font-size: 16px;
}

.navbarIconContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 30px;
}

.navbarIcon {
  width: 24;
}

.iconBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.kategorieContainer {
  display: flex;
  height: 50px;
  border-bottom: 1px solid var(--text);
  padding: 0 30px;
  background-color: var(--background);

  width: 100%;
  z-index: 10000;
}

.kategoriesBox {
  display: flex;
  align-items: center;
  gap: 30px;
}

#categoryNameBox {
  display: flex;
  align-items: center;
  width: 305px;
}