#footerContainer {
  margin-top: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#socialsContainer {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.socialBox {
  display: flex;
  gap: 10px;
}

.socialText {
  font-weight: 600;
}

#leagalPageLinksConatainer {
  display: flex;
  gap: 30px;
}

.leagalPageLink {
  font-weight: 600;
}

#newsLetterConatainer {
  height: 200px;
  width: 100%;
  background-color: var(--primary);
}

#footerSchriftzug {
  margin-top: 100px;
  width: 100%;
}
